.App {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh; /* Ensures the Weather component takes full height */
  display: flex;
  flex-direction: column;
}

.App {
  max-width: 700px;
  margin: 30px auto;
  justify-content: center;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.App a {
  background-color: #84d2f6
}